@import "../../styles.scss";

.card-img-type {
  background-size: cover;
  background-repeat: repeat;
}
.card-img1 {
  background: url(../../assets/images/dashboard/circle.svg);
  background-color: rgb(254, 142, 150);
}
.card-img2 {
  background: url(../../assets/images/dashboard/circle.svg);
  background-color: rgb(55, 154, 232);
}
.card-img3 {
  background: url(../../assets/images/dashboard/circle.svg);
  background-color: rgb(67, 210, 191);
}
// .card {
//   .card-img-holder {
//     position: relative;
//     .card-img-absolute {
//       position: absolute;
//       top: 0;
//       right: 0;
//       height: 100%;
//     }
//   }
// }

.page-title-icon {
  background: rgb(160, 90, 255);
  padding: 2px 8px;
  border-radius: 6px;

}

.purchase-button{
  background-color: rgb(182,109,255);
  color: white;
  padding: 8px 30px;
}
.table{
  img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.bg-pink{
  background-color: #FF9F96;

}.bg-purple{
  background-color: #B36BFF;
}
.bg-blue{
  background-color: #419FEA;
}
.bg-yellow{
  background-color: #FBDB3D;
}
.bg-green{
  background-color: #51D4C3;
}